body {
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(
    180deg,
    rgba(117, 219, 205, 0.21) 0%,
    rgba(255, 255, 255, 0.7) 82.5%
  );
  padding: 20px;
  text-align: center;
}

h1 {
  text-align: left;
  margin-top: 7rem;
  margin-bottom: 7rem;
  margin-left: 4rem;
  color: #1a1c1d;
  font-size: 75px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

h2 {
  text-align: left;
  margin-top: 5rem;
  margin-bottom: 12rem;
  margin-left: 4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #1a1c1d;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.contact {
  text-align: center;
  margin-bottom: 20px;
}

.contact p {
  margin: 0;
  color: #1a1c1d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 445px;
  height: 550px;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.contact a {
  text-decoration: none;
  color: black;
}

.about-me,
.portfolio {
  padding: 20px;
}

.portfolio p {
  font-weight: bold;
  text-align: center;
}

.contact .container {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.email,
.telefon {
  display: flex;
  color: #1a1c1d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  padding-left: 3rem;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.email img,
.telefon img {
  width: 4rem;
  height: 4rem;
}

button {
  width: 425px;
  height: 99px;
  border-radius: 0px 60px 60px 0px;
  background: rgba(117, 219, 205, 0.59);
  text-align: left;
  margin-top: 9rem;
  margin-bottom: 5rem;
  margin-left: 4rem;
  margin-right: 600rem;
  color: #1a1c1d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  border-bottom: none;
  border-right: none;
  border-top: none;
  border-left: none;
  padding-left: 2rem;
}

.mojeprace-bloky {
  display: flex;
  flex-wrap: wrap;
}

.block1 {
  max-width: 852px;
  width: 100%;
  height: 700px;
  flex-shrink: 0;
  border-radius: 30px;
  background: rgba(117, 219, 205, 0.1);
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 4.25rem;
  margin-top: 5rem;
  box-shadow: 3px 1.5px 1.5px rgba(153, 192, 187, 0.59);
}
.block2 {
  max-width: 852px;
  width: 100%;
  height: 700px;
  flex-shrink: 0;
  border-radius: 30px;
  background: rgba(117, 219, 205, 0.1);
  margin-bottom: 4.25rem;
  margin-top: 5rem;
  box-shadow: 3px 1.5px 1.5px rgba(153, 192, 187, 0.59);
}
.block3 {
  max-width: 852px;
  width: 100%;
  height: 700px;
  flex-shrink: 0;
  border-radius: 30px;
  background: rgba(117, 219, 205, 0.1);
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  margin-top: 5rem;
  box-shadow: 3px 1.5px 1.5px rgba(153, 192, 187, 0.59);
}
.block4 {
  max-width: 852px;
  width: 100%;
  height: 700px;
  flex-shrink: 0;
  border-radius: 30px;
  background: rgba(117, 219, 205, 0.1);
  margin-right: 3rem;
  margin-bottom: 3rem;
  margin-top: 5rem;
  box-shadow: 3px 1.5px 1.5px rgba(153, 192, 187, 0.59);
}

.PDP {
  margin-top: 2rem;
  margin-bottom: 8.5rem;
  margin-left: 4rem;
  margin-right: 1rem;
  max-width: 320px;
  width: 100%;
  height: 442px;
  width: 100%;
  border-radius: 30px;
}


.DUM {
  margin-top: 6rem;
  margin-bottom: 8.5rem;
  margin-left: 4rem;
  margin-right: 1.5rem;
  max-width: 321px;
  width: 100%;
  height: 343px;
  border-radius: 30px;
}

h3,
h4,
h5,
h6,
h7 {
  color: #1a1c1d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
  margin-left: 4rem;
  margin-top: 4rem;
}

.HRA {
  margin-top: 1.5rem;
  margin-bottom: 8.5rem;
  margin-left: 4rem;
  margin-right: 1.5rem;
  max-width: 650px;
  width: 100%;
  height: 453px;
  border-radius: 30px;
}

.KROKY {
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-left: 4rem;
  margin-right: 1.5rem;
  max-width: 600px;
  width: 100%;
  height: 93px;
  border-radius: 30px;
}

.POPUP {
  margin-left: 4rem;
  margin-bottom: 8.5rem;
  margin-right: 1.5rem;
  max-width: 399px;
  width: 100%;
  height: 314px;
  border-radius: 30px;
}

.APPKA {
  margin-left: 4rem;
  margin-bottom: 8.5rem;
  margin-right: 1.5rem;
  max-width: 650px;
  width: 100%;
  height: 450px;
  border-radius: 30px;
}

p {
  color: #1a1c1d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  line-height: normal;
  text-align: left;
  margin-left: 0rem;
  margin-top: 2rem;
  font-weight: 300;
}

.OMNE {
  padding: 5rem;
}
.block-omne {
  border-radius: 30px;
  background: rgba(117, 219, 205, 0.1);
  margin-right: 3rem;
  margin-bottom: 3rem;
  margin-top: 5rem;
  box-shadow: 3px 1.5px 1.5px rgba(153, 192, 187, 0.59);
  padding: 3rem;
  display: flex;
  border-radius: 30px;
  border: 10px solid rgba(117, 219, 205, 0.59);
  background: #fff;
}

.NADPIS {
  width: 425px;
  height: 99px;
  border-radius: 0px 60px 60px 0px;
  background: rgba(117, 219, 205, 0.59);
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: -6rem;
  margin-right: 0rem;
  color: #1a1c1d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  border-bottom: none;
  border-right: none;
  border-top: none;
  border-left: none;
  padding-left: 5rem;
}

.FOTKA {
  border-radius: 30px;
  width: 300px;
  height: 380px;
  margin-left: 7rem;
}
img {
  animation: fade-in linear;
  animation-timeline: view(5vh 50vh);
  width: 100%;
  opacity: 0;
}

@keyframes fade-in {
  from {
    scale: 0.9;
    opacity: 1;
  }
  to {
    scale: 1.1;
    opacity: 0.8;
  }
}

@media (prefers-reduced-motion: reduce) {
  .scroll-watcher {
    transition-duration: 1s;
    animation-duration: 5s;
  }
}
