.mojeprace-bloky {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
}

.block {
  width: 100%;
  border-radius: 30px;
  /* background: hsla(172, 59%, 66%, 0.1);
  box-shadow: 3px 1.5px 1.5px hsla(172, 24%, 68%, 0.59); */

  padding: 3rem;
  box-sizing: border-box;

  animation: backround-fade-in linear forwards;
  animation-timeline: view(5vh 50vh);
}

.block h3 {
  margin-bottom: 2rem;
  /* text-transform: uppercase; */
}

.obrazky-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.obrazky-wrap-horizontalni {
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

.obrazek-s-paddingem {
  padding: 1rem;
  background: white;
  box-sizing: border-box;
}

.PDP,
.DUM,
.HRA,
.KROKY,
.POPUP,
.APPKA {
  width: 100%;
  border-radius: 1rem;
}

.POPUP {
  max-width: 400px;
}
